@using Сodem.Shared.Models
@using WebClient.Models

<div class="w-full pt-14 sm:border-box sm:sticky sm:top-0 sm:h-fit">
  <div class="h-fit w-full overflow-hidden rounded-lg border border-black/[.15] bg-slate-100 dark:bg-neutral-950 dark:border-white/[.15]">
    <EditForm Model="@Model" OnSubmit="@HandleSubmit">
      <DataAnnotationsValidator />
      <ValidationSummary />
      <div class="flex h-8 items-center border-b border-b-black/[.15] bg-white/[.7] px-4 dark:bg-neutral-900 dark:border-b-white/[.15]">
        <p class="text-sm">Snippet settings</p>
      </div>
      <div class="flex h-full w-full flex-col gap-2 px-4 py-2">
        <div>
          <label for="title" class="text-sm">Name</label>
          <div class="mt-1">
            <input
              type="text"
              id="title"
              @bind="Model.Title"
              class="h-8 w-full rounded-md border bg-white border-black/[.2] px-2 text-sm focus:ring-0 focus:border-black/[.2] dark:bg-transparent dark:border-white/[.15] dark:focus:border-white/[.15] dark:placeholder:text-neutral-500"
              placeholder="Untitled snippet..."/>
          </div>
        </div>
        <div>
          <label for="expiration" class="text-sm">Expiration time</label>
          <select
            id="expiration"
            @bind="Model.ExpireTime"
            class="mt-1 p-0 h-8 w-full rounded-md border bg-white border-black/[.2] px-2 pr-10 text-sm focus:ring-0 focus:border-black/[.2] dark:bg-neutral-950 dark:border-white/[.15] dark:focus:border-white/[.15] dark:placeholder-neutral-950">
            @foreach (SnippetExpiration expiration in ExpireTimeList)
            {
              <option value="@expiration">@EnumHelper.GetEnumDescription(expiration)</option>
            }
          </select>
        </div>
        <div>
          <label for="password" class="text-sm">Password</label>
          <div class="mt-1">
            <input
              type="text"
              id="password"
              disabled="@(!Model.IsPrivate)"
              @bind="Model.Password"
              class="h-8 w-full rounded-md border bg-white border-black/[.2] px-2 text-sm disabled:bg-slate-100 focus:ring-0 focus:border-black/[.2] dark:bg-transparent dark:border-white/[.15] dark:focus:border-white/[.15] dark:disabled:bg-neutral-900 dark:placeholder:text-neutral-500"
              placeholder="Password..."/>
          </div>
        </div>
        <div class="mt-2 flex items-start">
          <div class="flex h-5 items-center">
            <input
              id="is-private"
              aria-describedby="comments-description"
              name="is-private"
              type="checkbox"
              @bind="Model.IsPrivate"
              class="h-4 w-4 rounded border-black/[.2] bg-white border text-sky-400 focus:ring-0 focus:ring-offset-0 dark:bg-transparent dark:border-white/[.15]"/>
          </div>
          <div class="ml-2 text-sm">
            <label for="is-private" class="font-medium text-gray-700 dark:text-neutral-300">
              Private
            </label>
          </div>
        </div>
        <button
          type="submit"
          class="mt-4 flex h-8 items-center justify-center rounded-md border border-black/[.2] bg-sky-400 hover:bg-sky-500">
          <p class="pb-1 text-sm text-white">Update snippet</p>
        </button>
        <div class="mb-2 w-full text-center">
          <p class="text-xs text-gray-700 dark:text-neutral-300">
            or you want to
            <button
              type="button"
              class="text-red-500"
              @onclick="HandleDelete"
            >
              Delete snippet
            </button>
          </p>
        </div>
      </div>
    </EditForm>
  </div>
</div>