@using Blazor.Heroicons;
@using Blazor.Heroicons.Outline;

<button
  type="button"
  id="editorContextMenuButton"
  data-dropdown-offset-skidding="-60"
  data-dropdown-toggle="editorContextMenu"
  class="w-6 border-l border-l-black/[.1] h-full flex items-center justify-center hover:bg-slate-200 dark:border-l-white/[.15] dark:hover:bg-neutral-800"
>
  <EllipsisVerticalIcon class="text-gray-700 h-4 w-4 dark:text-neutral-400" />
</button>
<div
  id="editorContextMenu"
  class="z-10 hidden py-1 bg-slate-100 divide-y divide-black/[.1] border border-black/[.1] rounded-lg shadow w-fit"
>
  <ul class="py-1 text-sm text-gray-700" aria-labelledby="editorContextMenuButton">
    @foreach (var entry in ContextMenuEntries.Where(entry => entry.IsVisible))
    {
      <li>
        <button
          type="button"
          data-modal-target="@entry.ModalTarget"
          data-modal-toggle="@entry.ModalTarget"
          class="px-3 py-1 flex w-full hover:bg-white/[.5] items-center gap-2"
        >
          <Heroicon Name="@entry.IconName" Type="@HeroiconType.Outline" class="h-3 w-3" />
          <p class="text-gray-600">@entry.Text</p>
        </button>
      </li>
    }
  </ul>
</div>


<DeleteFileModal CodeFileManager="CodeFileManager" />
<EditFileNameModal ChangeFileNameAction="ChangeFileName" />