<tr class="hover:bg-white/[.4]">
  <td class="max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 dark:text-neutral-400 sm:pl-6">
    <a href="@RouteUtils.Snippet/111" class="text-sky-500 hover:text-sky-400">
      @Snippet.Title
    </a>
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 lg:table-cell">
    @Snippet.PublicDate.ToString()
  </td>
  <td class="table-cell whitespace-nowrap px-3 py-4">
    @Snippet.ExpireTime
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 md:table-cell">
    @Snippet.Views
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 md:table-cell">
    @Snippet.Stars
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 lg:table-cell">
    @Snippet.ProgramLanguage
  </td>
  <td class="whitespace-nowrap py-4 pl-3 pr-4 !text-right sm:pr-6">
    <a href="#" class="text-sky-500 hover:text-sky-400">
      Edit
    </a>
  </td>
</tr>